@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background-color: #e2d519;
    color: #ff0000;
    padding: 20px;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;

}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    text-decoration: underline;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}
#searchButton {
    padding: 10px 20px;
    background-color: #423e06;
    color: #ffee00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#searchButton:hover, #addProductButton:hover{
    background-color: #d41616;
    color: white;
}

#addProductButton{
    padding: 10px 20px;
    background-color: rgb(202, 185, 32);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.form-title{
    text-align: center;
    color: #fffeee;
    margin-top: 20px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: static;
    width: 100%;
    bottom: 0;
}